@keyframes chromahonSM__Anim_5ColorGrad {
    0% {
        background-position:
            10% 10%,
            90% 10%,
            50% 90%,
            10% 90%;
        background-size:
            310% 310%,
            310% 310%,
            310% 310%,
            310% 310%;
    }
    25% {
        background-position:
            40% 10%,
            80% 50%,
            30% 80%,
            20% 60%;
        background-size:
            220% 220%,
            160% 160%,
            210% 210%,
            170% 170%;
    }
    50% {
        background-position:
            80% 50%,
            10% 80%,
            70% 20%,
            90% 70%;
        background-size:
            250% 250%,
            250% 250%,
            250% 250%,
            250% 250%;
    }
    75% {
        background-position:
            60% 90%,
            40% 30%,
            90% 10%,
            10% 50%;
        background-size:
            160% 160%,
            200% 200%,
            150% 150%,
            190% 190%;
    }
    100% {
        background-position:
            90% 90%,
            10% 10%,
            60% 0%,
            90% 10%;
        background-size:
            310% 310%,
            310% 310%,
            310% 310%,
            310% 310%;
    }
}