@keyframes chromahonSM__Anim_vLinearGrad {    
    0% {
        background-position: 50% 0%;
        background-size: 300% 300%;
    }
    50% {
        background-position: 50% 100%;
        background-size: 300% 300%;
    }
    100% {
        background-position: 50% 0%;
        background-size: 300% 300%;
    }
}