@keyframes chromahonSM__Anim_hLinearGrad {    
    0% {
        background-position: 0% 50%;
        background-size: 300% 300%;
    }
    50% {
        background-position: 100% 50%;
        background-size: 300% 300%;
    }
    100% {
        background-position: 0% 50%;
        background-size: 300% 300%;
    }
}