/* ---
Chromahon (Steam Menu)
--- */

/* Footer shadow */
.mainmenu_FooterBoxShadow_3kHmf {
  box-shadow: none;
}

/* Scroll mask */
.mainmenuapprunning_ScrollMask_322FV {
  background: #000;
}

/* Loading throbber */
.loadingthrobber_ContainerBackground_2ngG3 {
  background: none;
}

/* Text field (e.g. Search in Achievements) */
.gamepaddialog_BasicTextInput_3GCBi, .gamepaddialog_BasicTextInput_3GCBi:not(.disabled):not(.gpfocus):hover {
  background: none;
  border-bottom: 2px solid var(--chromahonSM__mainTextColor);
}
.gamepaddialog_BasicTextInput_3GCBi::placeholder, .gamepaddialog_BasicTextInput_3GCBi:not(.disabled):not(.gpfocus)::placeholder {
  color: var(--chromahonSM__mainTextColor);
}

/* Text field, selected */
.gamepaddialog_BasicTextInput_3GCBi.gpfocus, .gamepaddialog_BasicTextInput_3GCBi.gpfocus:hover {
  background: rgb(var(--chromahonSM__bgHighlightColor));
  border-bottom: 2px solid var(--chromahonSM__hl_mainTextColor);
}
.gamepaddialog_BasicTextInput_3GCBi.gpfocus::placeholder, .gamepaddialog_BasicTextInput_3GCBi.gpfocus:hover::placeholder {
  color: var(--chromahonSM__hl_mainTextColor);
}

/* Text field, user input */
.gamepaddialog_BasicTextInput_3GCBi {
  color: var(--chromahonSM__mainTextColor);
}

/* Text field, user input, focused */
.gamepaddialog_BasicTextInput_3GCBi.gpfocus, .gamepaddialog_BasicTextInput_3GCBi.gpfocus:hover {
  color: var(--chromahonSM__hl_mainTextColor);
}

/* Dropdown buttons */
button.gamepaddialog_Button_1kn70.DialogButton,
button.gamepaddialog_Button_1kn70.DialogButton.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active,
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover,
button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary {
  background: none;
  color: var(--chromahonSM__mainTextColor);
  box-shadow: 0px 0px 0px 2px var(--chromahonSM__mainTextColor);
}

/* Dropdown buttons, selected */
button.gamepaddialog_Button_1kn70.DialogButton.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:active,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active,
button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:active:active,
button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:hover:active,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active {
  background: rgb(var(--chromahonSM__bgHighlightColor));
  color: var(--chromahonSM__hl_mainTextColor);
  box-shadow: none;
}



/* ---
Main menu
--- */


/* Panel background */
.mainmenu_Menu_23IDi {
  background: rgba(var(--chromahonSM__mainBgColor), var(--chromahonSM__mainBgOpacity)) !important;
}
  
/* This removes the grayish blue overlay animation when an item is selected */
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5:focus {
    animation: none;
}

/* Item, text, regular */
/* main panel */ [class="_2ADpTpv53dcY1uFpMWO1KT"],
/* running app panel */ [class*=_1U3OjZG3cOt5OhO_lKAXI0] {
    color: var(--chromahonSM__mainTextColor) !important;
}

[class="_3xZ3ZujYllkNRr5UdDfNmz"] {
    color: var(--chromahonSM__iconColor) !important;
}

/* Item, background & text, highlight */
@keyframes _1HnqFT3fbAw0ADaVlUzeNn {
    0% {
        background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity));
    }
    100% {
        background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity));
    }
}
@keyframes _1HTvA0ji8Y-wN-gFU8e48c {
    0% {
        background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity));
    }
    100% {
        background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity));
    }
}

.gpfocus [class="_2ADpTpv53dcY1uFpMWO1KT"] {
    color: var(--chromahonSM__hl_mainTextColor) !important;
}

.gpfocus [class="_3xZ3ZujYllkNRr5UdDfNmz"] {
    color: var(--chromahonSM__hl_iconColor) !important;
}


/* Item, active mark */
/* main panel */ [class="_1BbM8Qq8OL5N8gL4PYH397"] [class="_1uLVHdiiCg78BRnhqLxUID"],
/* running app panel */ ._2b6L36XnXUqFHHkGE4_2mv ._3Il1BD4p9lccpjISQKhR1X {
    background: rgba(var(--chromahonSM__markerColor), 255);
}

/* ---
Running app menu
--- */



/* Running app separator removal */
.mainmenu_RunnningAppSeparator_33RkH {
  background: none;
}

/* Panel background */
.mainmenuapprunning_NavigationColumn_27FEg {
    background: rgba(var(--chromahonSM__mainBgColor), var(--chromahonSM__mainBgOpacity));
  border-left: none;
  border-right: none;
}

/* Weird gradient removal */
@media screen and (max-width: 1280px) {
  .mainmenuapprunning_NavigationColumn_27FEg:before {
    background: none;
  }
}

/* Active tab mark */
.mainmenuapprunning_NavigationMenuItem_1G0K4 .mainmenuapprunning_ActiveDot_13YbV {
  background: rgba(var(--chromahonSM__markerColor), 255) !important;
}

.mainmenuapprunning_NavigationMenuItem_1G0K4 {
  color: var(--chromahonSM__mainTextColor);
}

/* Item, background & text, highlight */
.mainmenuapprunning_NavigationMenuItem_1G0K4.gpfocus.gpfocuswithin {
    background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity)) !important;
    color: var(--chromahonSM__hl_mainTextColor) !important;
    mix-blend-mode: normal;
}

/* Item, focused, text */
.mainmenuapprunning_NavigationMenuItem_1G0K4.mainmenuapprunning_Active_1jG8i {
  font-weight: bold;
  color: var(--chromahonSM__mainTextColor);
}