/* ---
Chromahon (Steam Menu)
Controller settings
--- */



/* Background, unfocused */
.mainmenuapprunning_AppColumn_3FAI9 {
  background: rgba(var(--chromahonSM__mainBgColor), var(--chromahonSM__mainBgOpacity));
  }

/* Background, focused */
.mainmenuapprunning_AppColumn_3FAI9.mainmenuapprunning_FocusedColumn_lz9Db {
  background: rgba(var(--chromahonSM__mainBgColor), var(--chromahonSM__mainBgOpacity));
}

/* Section header */
.controllerconfiguratorsummary_TitleLabel_3ViNI {
  color: var(--chromahonSM__mainTextColor);
}

/* Key, text indicators */
.controllerconfiguratorsummary_ControlsListSection_nnOTT .controllerconfiguratorsummary_Title_12Taa {
  color: var(--chromahonSM__mainTextColor);
  filter: opacity(0.6);
}
/* Key, label */
.controllerconfiguratorsummary_ControllerInputDisplay_27Q1T .controllerconfiguratorsummary_StandardControl_pywHI,
.controllerconfiguratorsummary_ControlsListSection_nnOTT .controllerconfiguratorsummary_StandardControl_pywHI {
  color: var(--chromahonSM__mainTextColor);
}

/* Key, indicators & labels, selected */
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV .controllerconfiguratorsummary_DirectAccessButton_QAVEl:focus {
  background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity));
  border: none;
}
.controllerconfiguratorsummary_DirectAccessButton_QAVEl.gpfocus.gpfocuswithin .controllerconfiguratorsummary_ControlsListSection_nnOTT .controllerconfiguratorsummary_Title_12Taa,
.controllerconfiguratorsummary_DirectAccessButton_QAVEl.gpfocus.gpfocuswithin .controllerconfiguratorsummary_StandardControl_pywHI,
.controllerconfiguratorsummary_DirectAccessButton_QAVEl.gpfocus.gpfocuswithin .controllerconfiguratorsummary_Title_12Taa {
  color: var(--chromahonSM__hl_mainTextColor);
}

/* Controller settings button */
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV .controllerconfiguratorsummary_BottomControlsSections_2H5S6 .controllerconfiguratorsummary_ConfigButton_1T2Rs {
  background: none;
  box-shadow: 0px 0px 0px 2px var(--chromahonSM__mainTextColor);
  color: var(--chromahonSM__mainTextColor);
  font-weight: bold;
}

/* Controller settings button, highlight */
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV .controllerconfiguratorsummary_BottomControlsSections_2H5S6 .controllerconfiguratorsummary_ConfigButton_1T2Rs.gpfocus {
  background: rgb(var(--chromahonSM__bgHighlightColor));
  color: var(--chromahonSM__hl_mainTextColor);
  box-shadow: none;
}

/* Controller image */
.controller_steamcontroller_neptune .controllerconfiguratorsummary_BackgroundController_rlz-U {
    filter: saturate(0);
}