/* ---
Chromahon (Steam Menu)
Notes
--- */



/* Notes list */
.gamepadpagedsettings_PagedSettingsDialog_PageListColumn_2EZ3o {
    background: rgba(var(--chromahonSM__mainBgColor), var(--chromahonSM__mainBgOpacity));
    border-right: none;
}

/* Note item */
.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r {
    color: var(--chromahonSM__mainTextColor);
}

/* Note item, selected */
.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r:focus {
    background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity)) !important;
      color: var(--chromahonSM__hl_mainTextColor);
      
}

/* Note item, focused */
.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB {
    background: rgba(var(--chromahonSM__bgHighlightColor), var(--chromahonSM__bgHighlightOpacity));
    color: var(--chromahonSM__hl_mainTextColor);
}

/* Notes container */
.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle {
    background: rgba(var(--chromahonSM__mainBgColor), var(--chromahonSM__mainBgOpacity));
}

/* Notes textarea */
.gamenotes_EditorInput_3zWun {
    background: #ffffff0e;
    box-shadow: inset 0 0px 0px 2px #ffffff3f;
}

/* Notes textarea, user input */
.gamenotes_NoteEditorArea_3WOF4 {
    color: var(--chromahonSM__mainTextColor);
}

/* New note svg */
svg.SVGIcon_Button.SVGIcon_TextNewNote {
    fill: var(--chromahonSM__mainTextColor);
}