/* ---
Chromahon (Steam Menu)

Part: secondaryPanel
Flavor: Halos
Dependencies (see theme.json):
    5ColorGrad.css
--- */

:root {
    --chromahonSM__secondaryPanel-bg: 
        radial-gradient(circle at 20% 0%, var(--chromahonSM__secondaryPanel-bg-c1) 0%, transparent 60%),
        radial-gradient(circle at 65% 15%, var(--chromahonSM__secondaryPanel-bg-c2)  0%, transparent 60%),
        radial-gradient(circle at 140% 70%, var(--chromahonSM__secondaryPanel-bg-c3) 0%, transparent 60%),
        radial-gradient(circle at 30% 70%, var(--chromahonSM__secondaryPanel-bg-c4) 0%, transparent 60%),
        var(--chromahonSM__secondaryPanel-bg-c5);
    
    --chromahonSM__Anim_secondaryPanel-bg: chromahonSM__Anim_5ColorGrad 14s infinite ease-in-out alternate;
}