/* ---
Chromahon (Steam Menu)

Part: secondaryPanel
Flavor: H-Linear Grad
Dependencies (see theme.json):
    Anim_hLinearGrad.css
--- */

:root {
    --chromahonSM__secondaryPanel-bg: linear-gradient(
        to right,
        var(--chromahonSM__secondaryPanel-bg-c1),
        var(--chromahonSM__secondaryPanel-bg-c2)
    );

    --chromahonSM__Anim_secondaryPanel-bg: chromahonSM__Anim_hLinearGrad 12s infinite ease-in-out alternate;
}