/* ---
Chromahon (Steam Menu)

Part: secondaryPanel-tabIndicator
Flavor: V-Linear Grad
Dependencies (see theme.json):
    Anim_vLinearGrad.css
--- */

:root {
    --chromahonSM__secondaryPanel-tabIndicator: linear-gradient(
        to bottom,
        var(--chromahonSM__secondaryPanel-tabIndicator-c1),
        var(--chromahonSM__secondaryPanel-tabIndicator-c2),
        var(--chromahonSM__secondaryPanel-tabIndicator-c3)
    );

    --chromahonSM__Anim_secondaryPanel-tabIndicator: chromahonSM__Anim_vLinearGrad 12s infinite ease-in-out alternate;
}