/* ---
Chromahon (Steam Menu)

Part: secondaryPanel-tabIndicator
Flavor: Solid Colors
Dependencies (see theme.json):
    Anim_colorChange.css
--- */

:root {
    --chromahonSM__Anim_secondaryPanel-tabIndicator: chromahonSM__Anim_colorChange 4s infinite ease-in-out alternate;
        --chromahonSM__AnimParam_colorChange-c1: var(--chromahonSM__secondaryPanel-tabIndicator);
        --chromahonSM__AnimParam_colorChange-c2: var(--chromahonSM__secondaryPanel-tabIndicator-c2);
        --chromahonSM__AnimParam_colorChange-c3: var(--chromahonSM__secondaryPanel-tabIndicator-c3);
        --chromahonSM__AnimParam_colorChange-c4: var(--chromahonSM__secondaryPanel-tabIndicator-c4);
}