/* ---
Chromahon (Steam Menu)

Part: secondaryPanel
Flavor: V-Linear Grad
Dependencies (see theme.json):
    Anim_vLinearGrad.css
--- */

:root {
    --chromahonSM__secondaryPanel-bg: linear-gradient(
        to bottom,
        var(--chromahonSM__secondaryPanel-bg-c1),
        var(--chromahonSM__secondaryPanel-bg-c2),
        var(--chromahonSM__secondaryPanel-bg-c3)
    );

    --chromahonSM__Anim_secondaryPanel-bg: chromahonSM__Anim_vLinearGrad 12s infinite ease-in-out alternate;
}