/* ---
Chromahon (Steam Menu)

Part: tertiaryPanel
Flavor: H-Linear Grad
Dependencies (see theme.json):
    Anim_hLinearGrad.css
--- */

:root {
    --chromahonSM__tertiaryPanel-bg: linear-gradient(
        to right,
        var(--chromahonSM__tertiaryPanel-bg-c1),
        var(--chromahonSM__tertiaryPanel-bg-c2)
    );

    --chromahonSM__Anim_tertiaryPanel-bg: chromahonSM__Anim_hLinearGrad 12s infinite ease-in-out alternate;
}