/* ---
Chromahon (Steam Menu)

Part: tertiaryPanel
Flavor: IMG
Dependencies (see theme.json):
    None
--- */

/* Container */ .RAI0lLN8sCtqCMI36rLiB,
/* Tertiary Panel > Achievements > Tab List */ ._2JobstxtZVYF3078DblN2M {
    background-size: cover;
}