/* ---
Chromahon (Steam Menu)

Part: tertiaryPanel
Flavor: Radial Grad
Dependencies (see theme.json):
    Anim_gradPulse.css
--- */

:root {
    --chromahonSM__tertiaryPanel-bg: radial-gradient(
        circle at top -80px left -20px,
        var(--chromahonSM__tertiaryPanel-bg-c1) 0% 10%,
        var(--chromahonSM__tertiaryPanel-bg-c2) 60% 100%
    );
    
    --chromahonSM__Anim_tertiaryPanel-bg: chromahonSM__Anim_gradPulse 12s infinite ease-in-out alternate;
}