/* ---
Chromahon (Steam Menu)

Part: tertiaryPanel
Flavor: Stripes
Dependencies (see theme.json):
    None
--- */

:root {
    --chromahonSM__tertiaryPanel-bg:
        linear-gradient(
            45deg,
            var(--chromahonSM__tertiaryPanel-bg-c1) 0%, var(--chromahonSM__tertiaryPanel-bg-c1) 33%,
            var(--chromahonSM__tertiaryPanel-bg-c2) 33%, var(--chromahonSM__tertiaryPanel-bg-c2) 66%,
            var(--chromahonSM__tertiaryPanel-bg-c3) 66%, var(--chromahonSM__tertiaryPanel-bg-c3) 100%
        );
}