/* ---
Chromahon (Steam Menu)

Part: primaryPanel > itemFocus-bg
Flavor: Solid Colors
Dependencies (see theme.json):
    None
--- */

:root {
    --chromahonSM__Anim_primaryPanel-itemFocus-bg: chromahonSM__Anim_colorChange_primaryPanel-itemFocus-bg 4s infinite ease-in-out alternate;
}

@keyframes chromahonSM__Anim_colorChange_primaryPanel-itemFocus-bg {
    0% {
        background: var(--chromahonSM__primaryPanel-itemFocus-bg);
    }
    25% {
        background: var(--chromahonSM__primaryPanel-itemFocus-bg-c2);
    }
    50% {
        background: var(--chromahonSM__primaryPanel-itemFocus-bg-c3);
    }
    75% {
        background: var(--chromahonSM__primaryPanel-itemFocus-bg-c4);
    }
    100% {
        background: var(--chromahonSM__primaryPanel-itemFocus-bg);
    }
}