/* ---
Chromahon (Steam Menu)

Part: primaryPanel > itemFocus-bg
Flavor: Stripes
Dependencies (see theme.json):
    None
--- */

:root {
    --chromahonSM__primaryPanel-itemFocus-bg:
        linear-gradient(
            45deg,
            var(--chromahonSM__primaryPanel-itemFocus-bg-c1) 0%, var(--chromahonSM__primaryPanel-itemFocus-bg-c1) 33%,
            var(--chromahonSM__primaryPanel-itemFocus-bg-c2) 33%, var(--chromahonSM__primaryPanel-itemFocus-bg-c2) 66%,
            var(--chromahonSM__primaryPanel-itemFocus-bg-c3) 66%, var(--chromahonSM__primaryPanel-itemFocus-bg-c3) 100%
        );
}