/* ---
Chromahon (Steam Menu)

Part: primaryPanel > itemFocus-bg
Flavor: V-Linear Grad
Dependencies (see theme.json):
    Anim_vLinearGrad.css
--- */

:root {
    --chromahonSM__primaryPanel-itemFocus-bg: linear-gradient(
        to bottom,
        var(--chromahonSM__primaryPanel-itemFocus-bg-c1),
        var(--chromahonSM__primaryPanel-itemFocus-bg-c2)
    );

    --chromahonSM__Anim_primaryPanel-itemFocus-bg: chromahonSM__Anim_vLinearGrad 12s infinite ease-in-out alternate;
}