/* ---
Chromahon (Steam Menu)

Part: primaryPanel > itemFocus-underline
Flavor: Solid Colors
Dependencies (see theme.json):
    Anim_colorChange.css
--- */

:root {
    --chromahonSM__Anim_primaryPanel-itemFocus-underline: chromahonSM__Anim_colorChange 4s infinite ease-in-out alternate;
        --chromahonSM__AnimParam_colorChange-c1: var(--chromahonSM__primaryPanel-itemFocus-underline);
        --chromahonSM__AnimParam_colorChange-c2: var(--chromahonSM__primaryPanel-itemFocus-underline-c2);
        --chromahonSM__AnimParam_colorChange-c3: var(--chromahonSM__primaryPanel-itemFocus-underline-c3);
        --chromahonSM__AnimParam_colorChange-c4: var(--chromahonSM__primaryPanel-itemFocus-underline-c4);
}