/* Primary Panel */
._23IDiI-F_FxXotrgpY71r8 {
    padding: .5em 0;
    border-radius: 24px;
    align-items: center;
}

/* Primary Panel > Item */
[class="_1BbM8Qq8OL5N8gL4PYH397"] {
    border-radius: 18px;
    width: calc(100% - 1em);
}

/* Secondary Panel */
._12NNtyso3nbzJGi2XxHzcN {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

/* Secondary Panel > Fix item placement when panel is collapsed */
[class~="_23IDiI-F_FxXotrgpY71r8"]:not([class~="_1ABsh9UL8DKM0rWJXep1tc"]) > * {
    transform: translateX(0) !important;
}

/* Secondary Panel > Item Container */
.CaWZCcKv4eSVRs2Y8lacQ {
    padding: 0 18px;
}

/* Secondary Panel > Item */
._2b6L36XnXUqFHHkGE4_2mv {
    border-radius: 12px;
    overflow: hidden;
}