/* Primary Panel */
._23IDiI-F_FxXotrgpY71r8 {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

/* Secondary Panel */
._12NNtyso3nbzJGi2XxHzcN {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}