/* Primary Panel */
[class="_1BbM8Qq8OL5N8gL4PYH397"] [class="_1uLVHdiiCg78BRnhqLxUID"] {
    position: relative;
    left: -10px;
    width: 10px !important; height: 10px !important;
    border-radius: 100%;
}

/* Secondary Panel */
._2b6L36XnXUqFHHkGE4_2mv ._3Il1BD4p9lccpjISQKhR1X {
    position: relative;
    display: inline-block;
    bottom: 1px;
    margin-right: .5em;
    width: 12px; height: 12px;
    vertical-align: middle;
    border-radius: 100%;
}