/* Primary Panel */
[class="_1BbM8Qq8OL5N8gL4PYH397"] [class="_1uLVHdiiCg78BRnhqLxUID"] {
    height: 85% !important;
}

/* Secondary Panel */
._2b6L36XnXUqFHHkGE4_2mv ._3Il1BD4p9lccpjISQKhR1X {
    top: 0; left: -1px;
    height: 100%;
}