/* main panel */ [class="_1BbM8Qq8OL5N8gL4PYH397"] [class="_1uLVHdiiCg78BRnhqLxUID"] {
    height: 8px !important;
    width: 8px !important;
    margin-left: 12px;
    border-radius: 100%;
}

/* running app panel */ ._2b6L36XnXUqFHHkGE4_2mv ._3Il1BD4p9lccpjISQKhR1X {
    height: 8px;
    width: 8px;
    margin-left: 8px;
    margin-top: 7px;
    border-radius: 100%;
}