/* main panel */ [class="_1BbM8Qq8OL5N8gL4PYH397"] [role="menuitem"].gpfocus,
/* running app panel */ ._2b6L36XnXUqFHHkGE4_2mv.gpfocus,
/* running app panel selected item (non-focus) */ ._2b6L36XnXUqFHHkGE4_2mv._1U3OjZG3cOt5OhO_lKAXI0 {
    transform: none;
}