/* ---
Chromahon (Steam Menu)

Part: secondaryPanel > itemFocus-bg
Flavor: H-Linear Grad
Dependencies (see theme.json):
    Anim_hLinearGrad.css
--- */

:root {
    --chromahonSM__secondaryPanel-itemFocus-bg: linear-gradient(
        to right,
        var(--chromahonSM__secondaryPanel-itemFocus-bg-c1),
        var(--chromahonSM__secondaryPanel-itemFocus-bg-c2),
        var(--chromahonSM__secondaryPanel-itemFocus-bg-c3)
    );

    --chromahonSM__Anim_secondaryPanel-itemFocus-bg: chromahonSM__Anim_hLinearGrad 12s infinite ease-in-out alternate;
}