:root {
    --chromahonSM__markerColor: linear-gradient(180deg, var(--chromahonSM__markerGrad1), var(--chromahonSM__markerGrad2), var(--chromahonSM__markerGrad3)) !important;
}

.mainmenu_Item_2w9Tp .mainmenu_ActiveDot_1uLVH,
.mainmenuapprunning_NavigationMenuItem_1G0K4 .mainmenuapprunning_ActiveDot_13YbV {
    background: var(--chromahonSM__markerColor) !important;
    animation: var(--chromahonSM__animGradient);
}