:root {
    --chromahonSM__bgHighlightColor: linear-gradient(90deg, var(--chromahonSM__itemGrad1), var(--chromahonSM__itemGrad2), var(--chromahonSM__itemGrad3)) !important;
}



/* ---
Main panel
--- */



.mainmenu_Item_2w9Tp.gpfocus, /* main panel */
.mainmenuapprunning_NavigationMenuItem_1G0K4.gpfocus.gpfocuswithin /* running app menu */ {
    background: var(--chromahonSM__bgHighlightColor) !important;
}

/* Color correction for running app menu */
.mainmenuapprunning_NavigationMenuItem_1G0K4.gpfocus.gpfocuswithin {
    color: var(--chromahonSM__hl_mainTextColor) !important;
    mix-blend-mode: normal !important;
}



/* ---
Steam input
--- */



/* Key, indicators & labels, selected */
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV .controllerconfiguratorsummary_DirectAccessButton_QAVEl:focus {
    background: var(--chromahonSM__bgHighlightColor) !important;
}

/* Controller settings button, highlight */
.controllerconfiguratorsummary_ControllerConfiguratorSummary_3TvBV .controllerconfiguratorsummary_BottomControlsSections_2H5S6 .controllerconfiguratorsummary_ConfigButton_1T2Rs.gpfocus {
    background: var(--chromahonSM__bgHighlightColor) !important;
}

/* Dropdown buttons, selected */
button.gamepaddialog_Button_1kn70.DialogButton.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:active,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active,
button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:active:active,
button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:hover:active,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active {
    background: var(--chromahonSM__bgHighlightColor) !important;
}

/* Text field, selected */
.gamepaddialog_BasicTextInput_3GCBi.gpfocus, .gamepaddialog_BasicTextInput_3GCBi.gpfocus:hover {
    background: var(--chromahonSM__bgHighlightColor);
}



/* ---
Achievements
--- */



/* Achievement item, selected */
.achievementslist_AchievementListItemBase_2Kmn7.gpfocus.gpfocuswithin .achievementslist_Container_cvw8D {
    background: var(--chromahonSM__bgHighlightColor) !important;
}

/* Tabs list, selected */
.gamepadtabbedpage_Tab_3eEbS.gpfocus {
    background: var(--chromahonSM__bgHighlightColor);
}

.achievementslist_GlobalAchievementListItem_316Uo.gpfocus.gpfocuswithin {
    background: var(--chromahonSM__bgHighlightColor);
}



/* ---
Guides
--- */



/* Guide item, selected */
.overlayguides_GuideListItemBase_1etIu.gpfocus.gpfocuswithin {
    background: var(--chromahonSM__bgHighlightColor);
}

/* Table of contents, chapter title */
.overlayguides_TOCEntry_2bjWQ.gpfocus.gpfocuswithin {
    background: var(--chromahonSM__bgHighlightColor);
}



/* ---
Notes
--- */



.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r:focus {
    background: var(--chromahonSM__bgHighlightColor) !important;
}

.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB {
    background: var(--chromahonSM__bgHighlightColor);
}