:root {
    --chromahonSM__mainBgColor: linear-gradient(180deg, var(--chromahonSM__mainGrad1), var(--chromahonSM__mainGrad2), var(--chromahonSM__mainGrad3)) !important;
}

.mainmenu_Menu_23IDi, /* main menu */
.mainmenuapprunning_NavigationColumn_27FEg, /* running app menu */
.mainmenuapprunning_AppColumn_3FAI9, /* Steam input, unfocused */
.mainmenuapprunning_AppColumn_3FAI9.mainmenuapprunning_FocusedColumn_lz9Db /* Steam input, focused */ {
    background: var(--chromahonSM__mainBgColor) !important;
}



/* ---
Achievements
--- */



/* Global achievements, item */
.achievementslist_GlobalAchievementListItem_316Uo {
    background: var(--chromahonSM__mainBgColor);
}
.achievementslist_AchievementListItemBase_2Kmn7 .achievementslist_Container_cvw8D {
    background: var(--chromahonSM__mainBgColor);
}